{% extends 'base.html' %}

{% block content %}

<div>
  <h2>Sign in</h2>

  <form action="." method="post">
    {% csrf_token %}

    {% for field in signinform %}
      <div>
        {{ field }}
      </div>
    {% endfor %}

    <input type="submit" value="Sign in" name="signinform">
  </form>
</div>

<div>
  <h3>Don't have an account yet?</h3>

  <form action="." method="post">
    {% csrf_token %}

    {% for field in signupform %}
      <div>
        {{ field }}
      </div>
    {% endfor %}

    <input type="submit" value="Sign up" name="signupform">
  </form>
</div>

{% endblock %}
